<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>SciensaHotels</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
        Sobre nós
      {{/link-to}}
      {{#link-to 'contact'}}
        Contato
      {{/link-to}}
      {{#link-to 'hotels'}}
        Hotels VIP
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>